/*  Color   */
:root {
  --co-0: #ffffff;
  --co-1: #717171;
  --co-2: linear-gradient(180deg, #000000, #555555);
  --co-3: #000000;
}

.co-0 {
  color: var(--co-0);
}
.co-1 {
  color: var(--co-1);
}
.co-2 {
  color: var(--co-2);
}
.co-3 {
  color: var(--co-3);
}

/*  Typography   */
.font-1-s {
  font: 400 3.5rem/1.35 "Inria Serif", serif;
  letter-spacing: 7px;
  word-break: break-all;
}
.font-2-s {
  font: 700 3.9rem/1 "Inria Serif", serif;
  text-transform: uppercase;
}
.font-3-s {
  font: 700 5.14rem/1 "Inria Serif", serif;
  text-transform: uppercase;
}
.font-1-m {
  font: 500 1.5rem/1 "Inria Serif", serif;
}
.font-2-m {
  font: 500 1.9rem/ "Inria Serif", serif;
}
.font-1-xs {
  font: 400 1.5rem/1 "Inria Serif", serif;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.font-1-ab {
  font: 700 2.5rem/1 "Inria Serif", serif;
}
.font-2-ab {
  font: 700 1.2rem/1 "Inria Serif", serif;
}
.font-3-ab {
  font: 700 1.5rem/1 "Inria Serif", serif;
}
.font-4-ab {
  font: 700 1rem/1 "Inria Serif", serif;
}
.font-1-d {
  font: 700 2rem/1 "Inria Serif", serif;
}
.font-2-d {
  font: 700 1.5rem/1 "Inria Serif", serif;
}
.font-3-d {
  font: 700 1rem/1 "Inria Serif", serif;
}
@media (max-width: 1350px) {
  .font-3-s {
    font-size: 4.9rem;
  }
}
@media (max-width: 1250px) {
  .font-3-s {
    font-size: 4.3rem;
  }
  .font-2-s {
    font-size: 3.4rem;
  }
}
@media (max-width: 1250px) {
  .font-3-s {
    font-size: 4.3rem;
  }
  .font-2-s {
    font-size: 3.4rem;
  }
}
@media (max-width: 1151px) {
  .font-3-s {
    font-size: 3.5rem;
  }
  .font-2-s {
    font-size: 2.6rem;
  }
  .font-1-xs {
    font-size: 1.2rem;
  }
}
@media (max-width: 621px) {
  .font-3-s {
    font-size: 3rem;
  }
  .font-2-s {
    font-size: 2.2rem;
  }
}
@media (max-width: 603px) {
  .font-1-m {
    font: 500 1rem/1.35 "Inria Serif", serif;
  }
}
@media (max-width: 571px) {
  .font-1-m {
    font: 500 1rem/1.35 "Inria Serif", serif;
  }
}
@media (max-width: 547px) {
  .font-3-s {
    font-size: 2.5rem;
  }
  .font-2-s {
    font-size: 1.9rem;
  }
}
@media (max-width: 457px) {
  .font-1-xs {
    font-size: 1.1rem;
    letter-spacing: 0;
  }
}
@media (max-width: 407px) {
  .font-1-s {
    font: 500 2.5rem/1.35 "Inria Serif", serif;
  }
}

/*  Global   */
body {
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
  border: none;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  margin: 0;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
/*   Introduction   */
.content-bg {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.introduction-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 65px 40px 0 40px;
}
.introduction-nav {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.introduction-nav button {
  background-color: var(--co-3);
  border: 1px solid var(--co-0);
  padding: 30px;
  cursor: pointer;
}
.introduction-nav button:hover {
  background-color: #161616;
  transition: 0.3s;
}
@media (max-width: 895px) {
  .introduction-container {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .introduction-nav button {
    padding: 15px;
  }
  .introduction-nav {
    gap: 25px;
  }
}
@media (max-width: 381px) {
  .introduction-nav {
    gap: 15px;
  }
}

/*   About   */
.about-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  padding: 85px 40px 85px 40px;
  margin: 0 auto;
  align-items: center;
}
.about-content {
  flex: 1 1 460px;
}
.about-content h2 {
  margin-bottom: 35px;
  position: relative;
}
.about-content h2::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: var(--co-0);
  top: 20px;
  margin-left: 150px;
}
.about-content h3:nth-of-type(2) {
  white-space: nowrap;
  z-index: -1;
}
.about-container h3:nth-of-type(2) {
  margin-right: -93px;
  z-index: 2;
  position: relative;
  margin-bottom: 50px;
}
.about-container h3:nth-of-type(1) {
  -webkit-text-stroke: 0.5px white;
}
.about-container p {
  max-width: 43ch;
  text-align: left;
}

.about-img {
  position: relative;
  min-width: 400px;
  flex: 1 1 500px;
  width: 100%;
  height: auto;
  max-width: 700px;
  z-index: 1;
}
.about-img-extra {
  position: relative;
}
.about-img-extra::after {
  content: "";
  position: absolute;
  left: -30px;
  height: 1px;
  width: 100px;
  background-color: var(--co-0);
  top: -30px;
}
.about-img-extra::before {
  content: "";
  position: absolute;
  left: -30px;
  height: 100px;
  width: 1px;
  background-color: var(--co-0);
  top: -30px;
}
.about-img::after {
  content: "";
  position: absolute;
  right: -30px;
  height: 1px;
  width: 100px;
  background-color: var(--co-0);
  bottom: -30px;
}
.about-img::before {
  content: "";
  position: absolute;
  right: -30px;
  height: 100px;
  width: 1px;
  background-color: var(--co-0);
  bottom: -30px;
}
@media (max-width: 1041px) {
  .about-container {
    justify-content: center;
    padding-top: 50px;
  }
  .about-img {
    max-width: 600px;
    min-width: inherit;
  }
  .about-content {
    justify-items: center;
  }
  .about-content p {
    text-align: center;
    margin-bottom: 40px;
  }
  .about-content h2 {
    margin-bottom: 45px;
  }
  .about-content h2::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: var(--co-0);
    top: 30px;
    margin-left: 15px;
  }
  .about-container h3:nth-of-type(1) {
    margin-bottom: 15px;
    text-align: center;
  }
  .about-container h3:nth-of-type(2) {
    margin-right: 0;
    margin-bottom: 25px;
    text-align: center;
  }

  .about-img-extra::after {
    left: -10px;
    width: 50px;
    top: -10px;
  }
  .about-img-extra::before {
    left: -10px;
    height: 50px;
    top: -10px;
  }
  .about-img::after {
    content: "";
    position: absolute;
    right: -10px;
    height: 1px;
    width: 50px;
    background-color: var(--co-0);
    bottom: -10px;
  }
  .about-img::before {
    content: "";
    position: absolute;
    right: -10px;
    height: 50px;
    width: 1px;
    background-color: var(--co-0);
    bottom: -10px;
  }
}
@media (max-width: 1000px) {
  .about-content h3:nth-of-type(2) {
    white-space: inherit;
  }
}

/*   Products   */
.products-introduction {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  padding: 0 40px;
  margin: 0 auto;
  align-items: center;
}
.products-bg .products-introduction {
  margin-bottom: 150px;
}
.products-bg {
  background-color: var(--co-3);
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1750px;
  padding: 0 40px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 40px;
  padding-bottom: 350px;
}
.products-item {
  border: 1px solid transparent;
  border-image: var(--co-2) 1;
  justify-items: center;
  text-align: center;
  background-color: var(--co-3);
  flex: 1 1 300px;
  padding: 15px;
}
.products-item img {
  opacity: 0.5;
  padding-bottom: 10px;
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  max-height: 310px;
}
.products-item h2 {
  margin-bottom: 20px;
}
.products-item p {
  max-width: 20ch;
  margin-bottom: 20px;
}
.products-item button {
  background-color: var(--co-3);
  padding: 15px 40px;
  border: 1px solid var(--co-0);
  cursor: pointer;
}
.products-item button:hover {
  background-color: #161616;
  transition: 0.3s;
}
.products-item:nth-child(even) {
  transform: translateY(100px);
}
@media (max-width: 1399px) {
  .products-item:nth-child(even) {
    transform: none;
  }
}

/*   Footer   */
.footer-bg {
  background-color: var(--co-3);
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1250px;
  padding: 20px 40px;
  margin: 0 auto;
  text-align: center;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 200px;
}

.footer-extra img {
  filter: invert(1);
  display: block;
  cursor: pointer;
  max-width: 35px;
}
.footer-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-extra {
  align-items: center;
  display: flex;
  gap: 20px;
}

@media (max-width: 481px) {
  .footer-container {
    justify-content: center;
  }
}
